<!DOCTYPE html>
     <body>
     	<h1 style="text-align:center;font-size:60px;font-family:lobster,cursive;">DARKNeuron
     		<br><font color="red" font-size="7px">Let's Build Intelligence</font></br>

     	</h1>
	    <div id="my_app">
	     	<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
	  		<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
	     	<script src="{{url_for('static',filename='code.js')}}"></script>
	     </div>
<!--             <p style="text-align:center; color:black">The digit is:{{lnk}}</p> -->
     </body>
</html>
 


